@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

body {
  background: #292929;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2vh 5vh;
  height: 10vh;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}
.webLogo,
.rightNav {
  width: 20vw;

  text-align: center;
  display: hide;
}
.hide {
  display: none;
}
.toonmaar {
  display: inline;
}
svg {
  display: none;
}
.midNav {
  width: 60vw;
  text-align: center;
}

.midNav .part {
  padding: 2rem;
}

.rightNav svg {
  width: 28px;
  height: 28px;
}
.verstop {
  position: fixed;
  bottom: -1000px;
  transition: 1s;
}
.toon {
  position: fixed;

  transition: 1s;
  bottom: 10vh;
}
.content {
  height: 85vh;
}
.wrapper {
  overflow-x: hidden;
}
.egg {
  position: absolute;
  filter: invert(1);
  opacity: 0.3;
  height: 50px;
  left: 20px;
  top: 30vh;
  animation: movemydiv 5s linear infinite;
}
.egg2 {
  position: absolute;
  filter: invert(1);
  opacity: 0.2;
  height: 70px;
  right: 50px;
  top: 10vh;
  animation: movemydiv 5s linear infinite;
}
.egg3 {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
  height: 60px;
  left: 10vh;
  top: 10vh;
  animation: movemydiv 6s linear infinite;
}
.egg4 {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
  height: 70px;
  left: 10vh;
  top: 50vh;
  animation: movemydiv 6s linear infinite;
}
.egg5 {
  position: absolute;
  filter: invert(1);
  opacity: 0.3;
  height: 70px;
  left: 31vh;
  top: 60vh;
  animation: movemydiv 8s linear infinite;
}
.egg6 {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
  height: 70px;
  left: 4vh;
  top: 80vh;
  animation: movemydiv 7s linear infinite;
}
@keyframes movemydiv {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
.chef {
  position: absolute;
  bottom: 10px;
  right: 0px;
  height: 150px;

  width: auto;
}
.col {
  color: #e900ff;
}
.col2 {
  color: #ffc600;
}
footer {
  height: 5vh;
  background-color: #5800ff;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  background-color: white;
  color: black;
}
.popup h1 {
  text-align: center;
}
.popup .cross {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.aldata {
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 1.8em;
  height: 80%;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.aldata div {
  background-color: rgba(255, 255, 255, 0.377);
  text-shadow: 2px 2px 5px 5px #f00;
  width: 80%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.ingre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
@media only screen and (max-width: 600px) {
  body {
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  nav > .webLogo {
    width: 100%;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  .midNav {
    background-color: rgba(255, 255, 255, 0.377);
    color: #5800ff;
    width: 90%;
  }

  .midNav .part {
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 0;
  }
}
